<!-- <div class='copyright'>
    © Cotalogo 2021 - All Rights Reserved | .
</div> -->

<script src="https://seal-app-bv3qd.ondigitalocean.app/front-end/javascripts/essentials/lib.js?v=1.0"></script>
<script src="https://seal-app-bv3qd.ondigitalocean.app/front-end/javascripts/essentials/api.js?v=1.0"></script>

<!-- <script src="http://127.0.0.1:3000/front-end/javascripts/essentials/lib.js"></script>
<script src="http://127.0.0.1:3000/front-end/javascripts/essentials/api.js"></script> -->