<div class="box a1 container ground padding-4">
  <div class="mobile-box lucida-grande em09 bold padding-5">Prospector</div>

  <div class="mobile-box container right">
    <div id="text_to_speech" class="mobile-box container ground margin-5">
      <img class='image-prop size-30 shadow-lg-st radius-5 opacity-out-09 padding-8 pointer' src='/images/icon/tts.png'>
    </div>

    <div id="contact_map_btn" class="mobile-box container ground margin-5">
      <img class='image-prop size-30 shadow-lg-st radius-5 opacity-out-09 padding-8 pointer' src='/images/icon/map.png'>
    </div>

    <div class="mobile-box container ground margin-5" onclick="window.location.href='/queue'">
      <img class='image-prop size-30 shadow-lg-st radius-5 opacity-out-09 padding-8 pointer'
        src='/images/icon/queue.png'>
    </div>

    <div class="mobile-box container ground margin-5" onclick="window.location.href='/manage'">
      <img class='image-prop size-30 shadow-lg-st radius-5 opacity-out-09 padding-8 pointer'
        src='/images/icon/manage.png'>
    </div>

    <div id="contact-create-btn" class="mobile-box container ground margin-5">
      <img id="contact-icon" class='image-prop size-30 shadow-lg-st radius-5 opacity-out-09 padding-8 pointer'
        src='/images/icon/add-contact.png'>
    </div>

    <div id="contact-prospect-btn" class="mobile-box container ground margin-5">
      <img id="prospect-icon" class='image-prop size-30 shadow-lg-st radius-5 opacity-out-09 padding-8 pointer'
        src='/images/icon/prospect.png'>
    </div>
  </div>

  <div id="contact-create-box" class="box a1 container h-center" style="display:none;">
  </div>

  <div id="contact-prospect-box" class="box a1 container h-center" style="display:none;">
  </div>
</div>

<script>
  function createForm() {
    let contact_create_form = lib.element.create('form', {
      class: "box a1 container ground padding-10 h-center margin-top-5",
    });

    let contact_create_title = lib.element.create("h2", {
      class: "box b1 underline lucida-grande bold rem10 text-shadow center",
    }, "Novo contato");
    contact_create_form.append(contact_create_title);

    contact_create_form.append(lib.element.create("div", {
      class: "box b1 lucida-grande bold rem08 margin-top-10"
    }, "Nome da empresa"));
    let contact_create_business = lib.element.create("input", {
      class: "box b1 lucida-grande rem08 border-bottom-lg-st padding-10",
      placeholder: "Nome da empresa que está prospectando",
      role: "presentation",
      autocomplete: "off"
    });
    contact_create_form.append(contact_create_business);

    contact_create_form.append(lib.element.create("div", {
      class: "box b1 lucida-grande bold rem08 margin-top-10"
    }, "WhatsApp da empresa"));
    let contact_create_jid = lib.element.create("input", {
      class: "box b1 lucida-grande rem08 border-bottom-lg-st padding-10",
      placeholder: "WhatsApp da empresa",
      role: "presentation",
      autocomplete: "off"
    });
    contact_create_form.append(contact_create_jid);

    contact_create_form.append(lib.element.create("div", {
      class: "box b1 lucida-grande bold rem08 margin-top-10"
    }, "Ativar conversa automática."));
    let contact_create_chat = lib.element.create("select", {
      class: "box b1 lucida-grande rem08 hide-disabled border-bottom-lg-st padding-10",
    });
    contact_create_form.append(contact_create_chat);

    contact_create_chat.append(lib.element.create("option", {
      value: 1,
    }, "Ativar conversa automática"));

    contact_create_chat.append(lib.element.create("option", {
      value: 0,
    }, "Desativar conversa automática"));

    contact_create_form.append(lib.element.create("div", {
      class: "box b1 lucida-grande bold rem08 margin-top-10"
    }, "Segmento da empresa"));
    let contact_catalog_select = lib.element.create("select", {
      class: "box b1 lucida-grande rem08 hide-disabled border-bottom-lg-st padding-10",
    });
    contact_create_form.append(contact_catalog_select);

    contact_catalog_select.append(lib.element.create("option", {
      value: "suafloricultura.cotalogo.com",
    }, "Floricultura"));

    contact_catalog_select.append(lib.element.create("option", {
      value: "suajoalheria.cotalogo.com",
    }, "Joalheria"));

    contact_catalog_select.append(lib.element.create("option", {
      value: "seusexshop.cotalogo.com",
    }, "Sexshop"));

    let submit_button = lib.element.create("input", {
      type: "submit",
      class: "box b1 btn-act lucida-grande bold noborder radius-3 shadow-lg-st padding-10 margin-top-10 pointer",
      name: "submit",
      value: "Iniciar prospecção"
    });
    contact_create_form.append(submit_button);

    contact_create_jid.addEventListener("blur", () => {
      if (contact_create_jid.value.startsWith("0")) {
        contact_create_jid.value = "55" + contact_create_jid.value.substring(1);
      }
    });

    contact_create_form.addEventListener('submit', async (e) => {
      e.preventDefault();

      let contact_options = {
        business: contact_create_business.value,
        jid: contact_create_jid.value,
        autochat: contact_create_chat.value,
        segment: contact_catalog_select.value
      };

      let response = await API.response(Contact.create, contact_options);
      if (!response) { return; }

      let contacts = await API.response(Contact.filter, {});
      contactFilter(contacts);

      let contact_create_box = document.getElementById('contact-create-box');
      let contact_icon = document.getElementById("contact-icon");
      contact_icon.src = "/images/icon/add-contact.png";
      // contact_create_box.style.display = "none";

      contact_create_business.value = "";
      contact_create_jid.value = "";

    });

    return contact_create_form;
  }

  function prospectForm() {
    let prospect_form = lib.element.create("form", {
      class: "box b1 container margin-top-10"
    });

    let contact_prospect_title = lib.element.create("h2", {
      class: "box b1 underline lucida-grande bold rem10 text-shadow center",
    }, "Prospecção automática");
    prospect_form.append(contact_prospect_title);

    let estados_array = [
      "AC", "AL", "AP", "AM", "BA", "CE", "DF", "ES", "GO",
      "MA", "MT", "MS", "MG", "PA", "PB", "PR", "PE", "PI",
      "RJ", "RN", "RS", "RO", "RR", "SC", "SP", "SE", "TO"
    ];

    prospect_form.append(lib.element.create("div", {
      class: "box b1 lucida-grande bold rem08 margin-top-10"
    }, "Estado / UF"));
    let uf_select = lib.element.create("select", {
      class: "box b1 lucida-grande hide-disabled rem08 border-bottom-lg-st padding-10"
    });
    prospect_form.append(uf_select);

    uf_select.append(lib.element.create("option", {
      value: "",
      disabled: true,
      selected: true
    }, "Estado / UF"));

    for (let i in estados_array) {
      let uf = estados_array[i];
      uf_select.append(lib.element.create("option", {
        value: uf,
      }, uf));
    };

    prospect_form.append(lib.element.create("div", {
      class: "box b1 lucida-grande bold rem08 margin-top-10"
    }, "Cidade"));
    let cidade_input = lib.element.create("input", {
      class: "box b1 lucida-grande rem08 border-bottom-lg-st padding-10",
      placeholder: "Cidade",
      role: "presentation",
      autocomplete: "off"
    });
    prospect_form.append(cidade_input);

    prospect_form.append(lib.element.create("div", {
      class: "box b1 lucida-grande bold rem08 margin-top-10"
    }, "Bairro"));
    let bairro_input = lib.element.create("input", {
      class: "box b1 lucida-grande rem08 border-bottom-lg-st padding-10",
      placeholder: "Bairro",
      role: "presentation",
      autocomplete: "off"
    });
    prospect_form.append(bairro_input);

    prospect_form.append(lib.element.create("div", {
      class: "box b1 lucida-grande bold rem08 margin-top-10"
    }, "Link da busca"));
    let prospect_url = lib.element.create("input", {
      class: "box b1 lucida-grande rem08 border-bottom-lg-st padding-10",
      placeholder: "URL do Maps",
      role: "presentation",
      autocomplete: "off"
    });
    prospect_form.append(prospect_url);

    prospect_form.append(lib.element.create("div", {
      class: "box b1 lucida-grande bold rem08 margin-top-10"
    }, "Segmento da empresa"));
    let prospect_segment = lib.element.create("select", {
      class: "box b1 lucida-grande rem08 hide-disabled border-bottom-lg-st padding-10",
    });
    prospect_form.append(prospect_segment);

    prospect_segment.append(lib.element.create("option", {
      selected: true,
      value: "https://www.instagram.com/jariomilitar",
    }, "JA Rio Militar"));

    const users = JSON.parse('<%- JSON.stringify(users) %>');
    console.log(users);

    prospect_form.append(lib.element.create("div", {
      class: "box b1 lucida-grande bold rem08 margin-top-10"
    }, "Vendedor"));
    let seller_select = lib.element.create("select", {
      class: "box b1 lucida-grande rem08 hide-disabled border-bottom-lg-st padding-10"
    });
    prospect_form.append(seller_select);

    seller_select.append(lib.element.create("option", {
      selected: true,
      // disabled: true,
      value: 1,
    }, "Admin"));

    // for (let i in users) {
    //   let user = users[i];

    //   seller_select.append(lib.element.create("option", {
    //     value: user.id,
    //   }, user.name));
    // };

    let submit_button = lib.element.create("input", {
      type: "submit",
      class: "box b1 btn-act lucida-grande bold noborder radius-3 shadow-lg-st padding-10 margin-top-10 pointer",
      name: "submit",
      value: "Iniciar prospecção"
    });
    prospect_form.append(submit_button);

    prospect_form.addEventListener("submit", async e => {
      e.preventDefault();

      if (!prospect_url.value) {
        return lib.message("É necessário informar a url do Google Maps com a busca da cidade e segmento.");
      }

      if (!prospect_segment.value) {
        return lib.message("É necessário informar o segmento da prospecção");
      }

      let response = await API.response(ContactList.create, {
        uf: uf_select.value,
        cidade: cidade_input.value,
        bairro: bairro_input.value,
        segment: prospect_segment.value,
        url: prospect_url.value,
        seller_id: seller_select.value,
      }, "none");

      console.log(response);

      new Audio("/audios/tin_tin.mp3").play();
    });

    return prospect_form;
  };

  document.addEventListener('DOMContentLoaded', () => {
    let contact_create_btn = document.getElementById('contact-create-btn');
    let contact_create_box = document.getElementById('contact-create-box');

    let contact_prospect_btn = document.getElementById('contact-prospect-btn');
    let contact_prospect_box = document.getElementById('contact-prospect-box');

    contact_create_box.append(createForm());
    contact_prospect_box.append(prospectForm());

    contact_create_btn.addEventListener('click', () => {
      let contact_icon = document.getElementById("contact-icon");
      let prospect_icon = document.getElementById("prospect-icon");

      if (contact_create_box.style.display === "none") {
        prospect_icon.src = "/images/icon/prospect.png";
        contact_icon.src = "/images/icon/close-x.png";
        contact_create_box.style.display = "";
        contact_prospect_box.style.display = "none";
      } else {
        prospect_icon.src = "/images/icon/prospect.png";
        contact_icon.src = "/images/icon/add-contact.png";
        contact_create_box.style.display = "none";
        contact_prospect_box.style.display = "none";
      }
    });

    contact_prospect_btn.addEventListener('click', () => {
      let prospect_icon = document.getElementById("prospect-icon");
      let contact_icon = document.getElementById("contact-icon");

      if (contact_prospect_box.style.display === "none") {
        prospect_icon.src = "/images/icon/close-x.png";
        contact_icon.src = "/images/icon/add-contact.png";
        contact_prospect_box.style.display = "";
        contact_create_box.style.display = "none";
      } else {
        prospect_icon.src = "/images/icon/prospect.png";
        contact_icon.src = "/images/icon/add-contact.png";
        contact_prospect_box.style.display = "none";
        contact_create_box.style.display = "none";
      }
    });
  });
</script>