<div id="user-filter-form" class="box"></div>
<div class="box b1 container padding-10">
  <div id="connect_all" class="mobile-box btn-act radius-10 padding-10 pointer">Conectar todos</div>
  <div id="disconnect_all" class="mobile-box btn-cancel radius-10 padding-10 pointer">Desconectar todos</div>
</div>

<div id="user_filter_box" class="box b2-3 container">

</div>

<script>
  document.addEventListener("DOMContentLoaded", async () => {
    userFilter();

    connect_all.addEventListener("click", () => {
      connectAll();
    });

    disconnect_all.addEventListener("click", () => {
      disconnectAll();
    });
  });

  async function userFilter() {
    user_filter_box.innerHTML = "";

    let users = await API.response(User.filter, {});

    for (let i in users) {
      let user = users[i];

      let user_div = lib.element.create("div", {
        class: "mobile-box b2 container border radius-25 padding-20"
      });
      user_filter_box.append(user_div);

      let user_name = lib.element.create("div", {
        class: "mobile-box b4-9 center padding-10"
      }, user.name);
      user_div.append(user_name);

      let user_phone = lib.element.create("div", {
        class: "mobile-box b3 center padding-10"
      }, user.phone.split("@")[0] || "Sem número");
      user_div.append(user_phone);

      let status = lib.element.create("div", {
        class: "mobile-box b2 center padding-10"
      });
      user_div.append(status);

      let session_btn = lib.element.svg("b4", "25",
        `<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-rotate-cw-icon lucide-rotate-cw"><path d="M21 12a9 9 0 1 1-9-9c2.52 0 4.93 1 6.74 2.74L21 8"/><path d="M21 3v5h-5"/></svg>`
      );
      user_div.append(session_btn);

      let remove_auth_icon = lib.element.svg("b4", "25",
        `<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-trash2-icon lucide-trash-2"><path d="M10 11v6"/><path d="M14 11v6"/><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6"/><path d="M3 6h18"/><path d="M8 6V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"/></svg>`
      );
      user_div.append(remove_auth_icon);

      let qrcode = lib.element.create("img", {
        class: "image-prop b1 center",
        src: ""
      });
      user_div.append(qrcode);

      let connect_btn = lib.element.create("div", {
        class: "box b1 btn-act padding-5 radius-5 center"
      }, "Conectar");
      user_div.append(connect_btn);

      let disconnect_btn = lib.element.create("div", {
        class: "box b1 btn-cancel padding-5 radius-5 center",
        style: "display: none;"
      }, "Disconnectar");
      user_div.append(disconnect_btn);

      session_btn.addEventListener("click", async () => {
        let user_session_response = await API.response(User.session, { user_id: user.id });

        if (user_session_response.connected) {
          status.innerHTML = "Online";
          qrcode.src = "";
          lib.display(connect_btn, "none");
          lib.display(disconnect_btn, "");
        } else {
          status.innerHTML = "Offline";
          return lib.display(connect_btn, "");
        }
      });

      connect_btn.addEventListener("click", async () => {
        let user_connect_response = await API.response(User.connect, { user_id: user.id });

        if (user_connect_response.connected) {
          status.innerHTML = "Online";
          qrcode.src = "";
          lib.display(connect_btn, "none");
          lib.display(disconnect_btn, "");
        } else {
          status.innerHTML = "Offline";
          if (user_connect_response.qrCode) {
            qrcode.src = user_connect_response.qrCode;
            lib.display(disconnect_btn, "");
            return lib.display(connect_btn, "none");
          }
          return lib.display(connect_btn, "");
        }
      });

      disconnect_btn.addEventListener("click", async () => {
        let user_disconnect_response = await API.response(User.disconnect, { user_id: user.id });

        if (!user_disconnect_response.connected) {
          status.innerHTML = "Offline";
          lib.display(connect_btn, "");
          lib.display(disconnect_btn, "none");
        }
      });

      remove_auth_icon.addEventListener("click", () => {
        lib.confirm("Deseja confirmar remoção?", async r => {
          if (!r) return;
          let user_disconnect_response = await API.response(User.disconnect, {
            user_id: user.id,
            permanent: true
          });

          if (!user_disconnect_response.connected) {
            status.innerHTML = "Offline";
            lib.display(connect_btn, "");
            lib.display(disconnect_btn, "none");
          }
        });
      });

      session_btn.click();
    };
  };

  async function connectAll() {
    let users = await API.response(User.filter, {});

    for (let i in users) {
      let user = users[i];
      let user_connect_response = await API.response(User.connect, { user_id: user.id });
    };

    userFilter();
  };

  async function disconnectAll() {
    let users = await API.response(User.filter, {});

    for (let i in users) {
      let user = users[i];
      let user_disconnect_response = await API.response(User.disconnect, { user_id: user.id });
    };

    userFilter();
  };
</script>